@import "../../css/common/mixin";

.navlist {
  * {
    color: #fff;
    box-sizing: border-box;
  }

  &__link {
    height: 55px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    &.active {
      background-color: #35343a;

      @include media(tablet) {
        padding: 0 10px;
      }

      @include media(desktop) {
        padding: 0 20px 0 0;
      }
    }
  }

  &__icon {
    width: 20px;
    margin-left: 20px;
  }
}
