@import "../../css/common/variables";
@import "../../css/common/mixin";

.card {
  width: 100%;
  margin-bottom: 50px !important;

  @include media(desktop) {
    width: 921px;
    margin: auto;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    padding: 10px 0;
  }

  &__created {
    margin: 7px 0;
    line-height: 1.5;
    font-size: 16px;
  }

  &__body {
    width: 100%;

    @include media(tablet) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      height: 240px;
    }
  }

  &__image-wrapper {
    width: 100%;
    height: auto;
    margin-top: 10px;
    
    @include media(tablet) {
      width: 50%;
      height: 100%;
      object-fit: contain;
      
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }

  &__content {
    @include media(tablet) {
      width: 50%;
      height: 100%;
    }
  }

  &__summary {
    width: 100%;
    height: 166px;
    overflow: hidden;
    margin: 10px 0;
    line-height: 1.5;
    font-size: 18px;
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
  }

  &__read-button {
    display: block;
    width: 127px;
    height: 41px;
    border-radius: 40px;
    margin-top: 10px;
    background-color: map-get($colors, color-black);
    box-shadow: rgba(23, 43, 99, 0.4) 0 7px 28px;
    margin: auto;

    @include media(tablet) {
      margin-left: 50%;
      transform: translate(-50%);
    }
  }

  &__read-button-text {
    line-height: 35px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: map-get($colors, color-white);
  }
}
